/* CSS Reset*/
html { font-family:"微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body { margin: 0; font-size:1.4rem; line-height: 1; color: #000; background-color: #fff; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: transparent; text-decoration: none; color: #000; }
a:active { outline: 0; }
b, strong { font-weight: bold; }
dfn { font-style:normal;}
img { border: 0; vertical-align: middle; }
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	outline: none;
}
input,textarea,button { border: 0; margin: 0; padding: 0; font-family:"微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -webkit-appearance: none;}
textarea { resize: none;}
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input::-webkit-input-placeholder {
  color: #c7b993;
}

* {
    box-sizing: border-box;
}
::-webkit-scrollbar { 
    display: none; 
}
body {
    font-size: 0.373333rem;
    background-color: #ffe142;
}

.hide {
    display: none;
}
#mj-container {
    max-width: 750px;
    margin: 0 auto;
  }
  .btn {
    text-align: center;
    color: #fff;
  }
  .btn-default {
    background-color: #ddd;
    color: #333;
  }
  .btn-info {
    background-color: #ff8c07;
  }
  .btn-primary {
    background-color: #fb3242;
  }
  .mint-button {
    font-size: 0.426667rem;
    border-radius: 0;
  }
  .coupon-container {
    position: relative;
    /* padding-top: 12.4rem; */
    padding-top: 100%;
    background-image: url('../images/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  } 
  .getCoupon-btn {
    width: 8rem;
    height: 1.3333rem;
    cursor: pointer;
    margin: 0.56rem 0;
    background: url(../images/get-coupon.png) center no-repeat;
    background-size: cover;
    background-color: transparent;
  }
  .getCoupon-group {
    width: 80%;
    margin: 0 auto;
  }
  .activity-rule {
    position: absolute;
    top: 0;
    right: 0.6667rem;
    width: 1.5867rem;
    height: 1.6533rem;
    background: url(../images/rule-bg.png) center no-repeat;
    background-size: 100%;
    text-align: center;
    color: #fff;
    line-height: 0.5rem;
    padding-top: 0.18rem;
  }
  .activity-rule .text {
    color: #FFD214;
  }
  .activity-rule .max-count {
    color: #fff;
    font-size: 0.64rem;
    margin-bottom: 0.4rem;
  }
  .activity-rule .max-count span {
    font-size: 0.48rem; 
  }
  .userForm-group {
    &.hide + .getCoupon-btn {
      margin-top: 2.1rem;
    }
    /* margin-bottom: 0.56rem; */
  }
  .userForm-group input {
    width: 100%;
    height: 1.17rem;
    background-color: #fff;
    flex: 1;
    padding: 0 0.24rem;
    line-height: 1rem;
    border: 0.05rem solid #ffc833;
    font-size: 0.373333rem;
    border-radius: 10px;
  }
  .userForm-group .remind {
    text-align: center;
    font-size: 0.33rem;
    line-height: 1.5;
  }
  .userForm-group .remind a {
    color: #0088ff;
  }
  .phone-input, .code-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.56rem;
  }
  .code-btn {
    margin-left: 0.4rem;
    width: 2.56rem;
    font-size: 0.373333rem;
    height: 1.07rem;
    border-radius: 8px;
  }
  
  .showCoupon-container {
    padding: 0.3rem;
    margin-bottom: 1rem; }
    .showCoupon-container .more-info {
      margin-bottom: 0.2rem;
      line-height: 1;
      text-align: center; }
    .showCoupon-container .modify-btn {
      margin-left: 0.24rem;
      cursor: pointer;
      color: #999; }
      .showCoupon-container .outDate img {
        width: 3.0933rem;
        height: 3.0933rem;
        margin-bottom: 0.28rem;
      }
      .showCoupon-container .outDate {
        text-align: center;
        color: #ffa70d;
        font-size: 0.3867rem;
      }
  
  .couponCode {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.9333rem;
    margin-bottom: 0.2rem;
    padding: 0.4rem 0.4rem 0;
    background-image: url('../images/coupon-code.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .couponCode .count {
      width: 2.9333rem;
      color: #fc3343;
      font-size: 0.4267rem;
      text-align: center;
      font-weight: bold;
      span + span {
        margin-left: -0.2em;
      }
     }
      .count-text {
        font-size: 1.3rem;
      }
    .couponCode .content {
      width: 5.8rem;
      padding: 0 5%; }
      .couponCode .content p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .couponCode .content .validity-period {
        margin-bottom: 0.25rem;
        text-align: center;
        font-size: 0.2933rem; }
      .name-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.25rem;
      }
      .tag {
        display: inline-block;
        padding: 0.1rem;
        font-size: 0.26rem;
        color: #fff;
        background-color: #f72d3d;
      }
      .name {
        font-size: 0.44rem;
      }
      .to-use-text {
        width: 3.5rem;
        height: 0.6rem;
        margin: 0 auto;
        line-height: 0.58rem;
        text-align: center;
        background-color: #ffc3c8;
        font-size: 0.34rem;
        border: 1px solid #c51725;
        color: #c51725;
        border-radius: 0.3rem;
      }
.room-list-container {
  position: relative;
  width: 9.2rem;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 3px 4px 0 0px #ffc711;
  padding-top: 0.7rem;
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0.8rem;
  }
  .room-title {
    position: absolute;
    top: -0.7rem;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    .text {
      background-color: #fc3343;
      display: inline-block;
      width: 5.7333rem;
      height: 1.4rem;
      line-height: 1.4rem;
      color: #fff;
      font-size: 0.48rem;
      font-style: italic;
      font-weight: bold;
      border-radius: 5px;
    }
  }
}
  
.room-list {
  padding: 0 0.4rem;
  .roomList-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .32rem 0;
    border-bottom: 1px solid #f2f2f2;
    &:last-child {
      border-bottom: 0;
    }
  }
  .room-pic {
    width: 3.2rem;
    height: 2.4rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .room-info {
    width: 4.9333rem;
    line-height: 1;
    & > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .room-name {
      font-size: 0.44rem;
      margin-bottom: .27rem;
    }
    .room-intro {
      color: #999;
      font-size: 0.32rem;
      line-height: 1.5;
      margin-bottom: .27rem;
    }
    .room-desc {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .room-price {
      color: #ff8c07;
      font-size: 0.36rem;
    }
    .room-addr {
      font-size: 0.32rem;
      color: #666;
    }
  }
}

@keyframes scale {
  from {right: -1.8em;}
  to {right: -1.5em;}
}
.download-container {
  text-align: center;
}
.download-link {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #0088ff;
  text-decoration: underline;
  margin-bottom: 1.2rem;
}
.download-icon {
  position: absolute;
  top: 0;
  right: -1.8em;
  display: block;
  animation: scale 2s ease-in-out infinite alternate;
  -webkit-animation: scale 2s ease-in-out infinite alternate;
}

.compare {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.6667rem;
  margin-bottom: 1.2rem;
  img {
    width: 2.56rem;
    height: 0.7733rem;
    margin-right: 0.5rem;
  }
}