html {
	font-size: 100px;	/*1rem = 100px*/
	min-height: 100%;
	overflow-x: hidden;
}
body {
	line-height: 1.5;
	color: #343434;
	background-color: #f5f5f5;
	overflow-x: hidden;
}
input {
	box-sizing: border-box;
	outline: none;
	padding: 0;
	color: #343434;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
.fa {
	color: #7b7b7b;
}
a {
	text-decoration: none;
}
.btn {
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
}

.topbar {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 0.84rem;
	padding: 0 0.24rem;
	align-items: center;
	justify-content: space-between;
	font-size: 0.44rem;
	line-height: 0.44rem;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.logo img {
	height: 0.44rem;
	vertical-align: bottom;
}
.nav_menu, .shopping_cart {
	display: block;
	width: 0.46rem;
	height: 0.44rem;
	text-align: center;
}


.container {
	overflow-x: hidden;
}


.search_box, .sign_up_box {
	position: relative;
	display: flex;
	width: 90%;
	height: 0.66rem;
	margin: 0.18rem auto;
	padding: 0 0.2rem;
	border: 1px solid #ccc;
	border-radius: 0.04rem;
	background-color: #fff;
}
.search_input {
	padding-right: 0.46rem;
}
.search_input, .sign_up_input {
	display: inline-block;
	border: none;
	width: 100%;
	font-size: 0.24rem;
	line-height: 1.5;
}
.search_icon {
	position: absolute;
	right: 0.2rem;
	top: 0.11rem;
	display: block;
	width: 0.46rem;
	height: 0.44rem;
	font-size: 0.44rem;
	line-height: 0.44rem;
	text-align: right;
	cursor: pointer;
}

.slider {
	position: relative;
	margin-bottom: 0.18rem;
	width: 100%;
	height: 3.04rem;
}
.slider ul {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.slider_item {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}
.slider_item img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
.slider_controller {
	position: absolute;
	bottom: 0.1rem;
	width: 100%;
	padding-top: 0.1rem;
	line-height: 0.2rem;
	text-align: center;
}
.slider_dot {
	display: inline-block;
	vertical-align: top;
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}
.slider_dot.on {
	background-color: #c82a2e;
}

nav, .recommend {
	width: 100%;
	margin-bottom: 0.18rem;
}
.nav_header, .recommend_header {
	position: relative;
	padding: 0.26rem 0.18rem;
	background-color: #fff;
}
.nav_title, .recommend_title {
	position: relative;
	font-size: 0.32rem;
	padding-left: 0.6rem;
}
.categories_icon, .pop_icon {
	position: absolute;
	left: 0;
	width: 0.48rem;
	height: 0.48rem;
}
.categories_icon {
	background: url(../images/categories-icon.png) no-repeat center;
	background-size: 100% 100%;
}
.pop_icon {
	background: url(../images/pop-icon.png) no-repeat center;
	background-size: 99% 99%;
}
.more_categories {
	position: absolute;
	top: 0.02rem;
	right: 0.16rem;
	display: block;
	box-sizing: border-box;
	width: 0.44rem;
	height: 0.44rem;
	border: 0.03rem solid #7b7b7b;
	border-radius: 50%;
	text-align: center;
	font-size: 0.24rem;
}
.more_categories .fa {
	font-weight: bold;
}
.nav_content {
	padding-top: 0.02rem;
}
.categories_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.18rem;
}
.categories_list .normal {
	width: 1.86rem;
	height: 1.40rem;
}
.categories_list .pop {
	width: 2.38rem;
	height: 2.94rem;
}
.categories_item img {
	width: 100%;
	height: 100%;
	display: block;
}


.recommend_header {
	margin-bottom: 0.18rem;
}
.recommend_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.content_list {
	width: 3.65rem;
	background-color: #fff;
}
.content_list img {
	width: 100%;
	height: 100%;
	display: block;
}
.product_info {
	font-size: 0.24rem;
	padding: 0 0.18rem;
}

.product_name {
	color: #343434;
}
.price {
	line-height: 0.5rem;
}
.price .now_price {
	color: #c82a2e;
}
.price .old_price {
	color: #7b7b7b;
	text-decoration: line-through;
}
.sign_up_input {
	padding-right: 1.86rem;
}
.sign_up_box {
	margin-bottom: 0.3rem;
}
.sign_up_box .submit {
	position: absolute;
	right: 0;
	width: 1.86rem;
	height: 100%;
	background-color: #c82a2e;
	color: #fff;
	display: inline-block;
	font-size: 0.24rem;
	border-bottom-right-radius: 0.04rem;
	border-top-right-radius: 0.04rem;
}
footer {
	color: #7d7d7d;
	text-align: center;
	font-size: 0.28rem;
	padding-bottom: 0.18rem;
}

.share {
	margin: 0 auto;
	margin-bottom: 0.18rem;
	display: flex;
	justify-content: space-between;
	width: 2.9rem;
	height: 0.44rem;
}
.share_link {
	display: block;
	box-sizing: border-box;
	width: 0.44rem;
	height: 0.44rem;
	line-height: 0.4rem;
	border: 0.02rem solid #343434;
	border-radius: 50%;
}
.share .fa {
	color: #343434;
}
.options {
	margin-bottom: 0.18rem;
}
.options a {
	color: #7b7b7b;
}
.payway {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 0.18rem;
	width: 5rem;
}
.payway a {
	display: block;
	width: 0.88rem;
	height: 0.5rem;
}
.payway img {
	display: block;	
	width: 100%;
	height: 100%;	
}
.copyright {
	font-size: 0.24rem;
}
.aside {
	position: fixed;
	z-index: 1000;
	left: -5.8rem;
	top: 0;
	width: 5.8rem;
	height: 100%;
	/*box-shadow: 0.08rem 0 0.2rem #ccc;*/
	overflow: hidden;
	overflow-y: scroll;
	background-color: #f5f5f5;
	transition: left 0.6s;
}
.overlay {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}
.menu_list {
	font-size: 0.32rem;
	transition: all 1s;
}
.menu_item, .submenu_item {
	display: block;
	height: 0.88rem;
	line-height: 0.88rem;
}
.menu_icon {
	margin: 0 0.36rem;
}
.menu_icon .fa {
	color: #c82a2e;
}
.menu_title {
	color: #343434;
}
.menu_link {
	position: absolute;
	right: 0.36rem;
}
.menu_link .fa {
	transition: transform 0.3s;
}
.menu_link .turn_down {
	transform: rotate(180deg);
}
.submenu_item {
	color: #343434;
	background-color: #fff;
	margin-bottom: 0.02rem;
	padding-left: 0.36rem;
}
.submenu li:last-child .submenu_item {
	margin-bottom: 0;
}